<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student List</title>
</head>
<body>
  <h1>Student List</h1>
  <a href="/students/create-view">Create</a>
  <hr>
  <div th:if="${studentList.isEmpty()}">
    <p>No Student Here...</p>
  </div>
  <div th:unless="${studentList.isEmpty()}"
       th:each="student: ${studentList}">
    <p>번호: [[${student.id}]]</p>
    <p>이름: <a th:href="@{/students/{id} (id=${student.id})}">[[${student.name}]]</a></p>
    <p>이메일: [[${student.email}]]</p>
    <hr>
  </div>
</body>
</html>