<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Create</title>
</head>
<body>
  <h1>Create Student</h1>
  <form action="/students/create" method="post">
    <label for="name-input">Name: <input id="name-input" name="name"></label>
    <br>
    <label for="age-input">Age: <input id="age-input" name="age"></label>
    <br>
    <label for="phone-input">Phone: <input id="phone-input" name="phone"></label>
    <br>
    <label for="email-input">Email: <input id="email-input" name="email"></label>
    <br>
    <input type="submit">
  </form>
  <a href="/students">Back</a>
</body>
</html>